<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-profile">
      <div class="nav-link d-flex">
        <div class="profile-image">
          <img src="assets/images/faces/face1.jpg" alt="image"/>
          <span class="online-status online"></span> <!--change class online to offline or busy as needed-->
        </div>
        <div class="profile-name">
          <p class="name">
            Daniel Russiel
          </p>
          <p class="designation">
            Senior Architect
          </p>
        </div>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">
        <i class="icon-screen-desktop menu-icon"></i>
        <span class="menu-title">Dashboard</span>
        <span class="badge badge-primary badge-pill">1</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/forms" routerLinkActive="active">
        <i class="icon-doc menu-icon"></i>
        <span class="menu-title">Form Elements</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/buttons" routerLinkActive="active">
        <i class="icon-layers menu-icon"></i>
        <span class="menu-title">Buttons</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/progressbar" routerLinkActive="active">
        <i class="icon-hourglass menu-icon"></i>
        <span class="menu-title">Progress bar</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/carousel" routerLinkActive="active">
        <i class="icon-picture menu-icon"></i>
        <span class="menu-title">Carousel</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/tooltips" routerLinkActive="active">
        <i class="icon-tag menu-icon"></i>
        <span class="menu-title">Tooltip</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/tabs" routerLinkActive="active">
        <i class="icon-grid menu-icon"></i>
        <span class="menu-title">Tab</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/dropdowns" routerLinkActive="active">
        <i class="icon-puzzle menu-icon"></i>
        <span class="menu-title">Dropdown</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/breadcrumbs" routerLinkActive="active">
        <i class="icon-energy menu-icon"></i>
        <span class="menu-title">Breadcrumb</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/pagination" routerLinkActive="active">
        <i class="icon-rocket menu-icon"></i>
        <span class="menu-title">Pagination</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/tables" routerLinkActive="active">
        <i class="icon-grid menu-icon"></i>
        <span class="menu-title">Table</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/datePicker" routerLinkActive="active">
        <i class="icon-calendar menu-icon"></i>
        <span class="menu-title">Date Picker</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/alerts" routerLinkActive="active">
        <i class="icon-info menu-icon"></i>
        <span class="menu-title">Alerts</span>
        <span class="badge badge-info badge-pill">8</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/accordions" routerLinkActive="active">
        <i class="icon-anchor menu-icon"></i>
        <span class="menu-title">Accordion</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/badges" routerLinkActive="active">
        <i class="icon-badge menu-icon"></i>
        <span class="menu-title">Badge</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/icons" routerLinkActive="active">
        <i class="icon-fire menu-icon"></i>
        <span class="menu-title">Icons</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/typography" routerLinkActive="active">
        <i class="icon-briefcase menu-icon"></i>
        <span class="menu-title">Typography</span>
      </a>
    </li>
  </ul>
</nav>
