<div class="row">
  <div class="col-md-4 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Recommended</h4>
        <div class="wrapper d-flex align-items-center py-2 border-bottom">
          <img class="img-sm rounded-circle" src="assets/images/faces/face12.jpg" alt="profile">
          <div class="wrapper ml-3">
            <h6 class="mb-0"><strong>Erwin E. Brown</strong></h6>
            <small class="text-muted mb-0">San Fransisco, CA</small>
          </div>
          <div class="badge badge-pill badge-primary ml-auto px-1 py-1"><i class="mdi mdi-check font-weight-bold"></i></div>
        </div>
        <div class="wrapper d-flex align-items-center py-2 border-bottom">
          <img class="img-sm rounded-circle" src="assets/images/faces/face23.jpg" alt="profile">
          <div class="wrapper ml-3">
            <h6 class="mb-0"><strong>Madeline Kennedy</strong></h6>
            <small class="text-muted mb-0">San Fransisco, CA</small>
          </div>
          <div class="badge badge-pill badge-success ml-auto px-1 py-1"><i class="mdi mdi-plus font-weight-bold"></i></div>
        </div>
        <div class="wrapper d-flex align-items-center py-2 border-bottom">
          <img class="img-sm rounded-circle" src="assets/images/faces/face26.jpg" alt="profile">
          <div class="wrapper ml-3">
            <h6 class="mb-0"><strong>George A. Llanes</strong></h6>
            <small class="text-muted mb-0">San Fransisco, CA</small>
          </div>
          <div class="badge badge-pill badge-primary ml-auto px-1 py-1"><i class="mdi mdi-check font-weight-bold"></i></div>
        </div>
        <div class="wrapper d-flex align-items-center py-2 border-bottom">
          <img class="img-sm rounded-circle" src="assets/images/faces/face27.jpg" alt="profile">
          <div class="wrapper ml-3">
            <h6 class="mb-0"><strong>Madeline Kennedy</strong></h6>
            <small class="text-muted mb-0">Carleton University, Ontario</small>
          </div>
          <div class="badge badge-pill badge-success ml-auto px-1 py-1"><i class="mdi mdi-plus font-weight-bold"></i></div>
        </div>
        <div class="wrapper d-flex align-items-center py-2 mb-4">
          <img class="img-sm rounded-circle" src="assets/images/faces/face25.jpg" alt="profile">
          <div class="wrapper ml-3">
            <h6 class="mb-0"><strong>Rafell John</strong></h6>
            <small class="text-muted mb-0">Alaska, USA</small>
          </div>
          <div class="badge badge-pill badge-success ml-auto px-1 py-1"><i class="mdi mdi-plus font-weight-bold"></i></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="d-flex align-items-center mb-3">
          <h4 class="card-title">Revenue</h4>
          <p class="text-muted ml-auto">17 February 2018</p>
        </div>
        <div class="row">
          <div class="col-md-7">
            <div class="alert alert-outline-primary d-flex justify-content-between" role="alert">
              <p class="mb-0 d-inline-block">Added API call to update track!</p><i class="mdi mdi-alert-circle-outline mr-0"></i>
            </div>
            <div class="list">
              <span class="text-small"><strong>@Michael</strong> Cras sit amet nibh libero, in gravida nulla.</span>
              <div class="d-flex justify-content-between pb-3 mt-2 border-bottom">
                <span class="text-small text-muted">17 February 2018 08:48 PM</span>
                <span class="text-small text-muted">Reply</span>
              </div>
            </div>
            <div class="list pt-2">
              <span class="text-small"><strong>@Doyle</strong> Bell Cras sit amet nibh libero, in gravida nulla, Nulla vel metus.</span>
              <div class="d-flex justify-content-between pb-3 mt-2 border-bottom">
                <span class="text-small text-muted">19 March 2018 10:21 PM</span>
                <span class="text-small text-muted">Reply</span>
              </div>
            </div>
            <div class="list pt-2">
              <span class="text-small"><strong>@Maxine</strong> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque.</span>
              <div class="d-flex justify-content-between pb-3 mt-2">
                <span class="text-small text-muted">02 May 2018 03:31 AM</span>
                <span class="text-small text-muted">Reply</span>
              </div>
            </div>
          </div>
          <div class="col-md-5 pl-md-4">
            <img class="rounded img-lg" src="assets/images/faces/face4.jpg" alt="profile image">
            <h4 class="font-weight-bold mt-3">Phyllis K. Maciel</h4>
            <p class="text-small">An UI/UX Designer living in Jakarta,Indonesia.</p>
            <div class="d-flex mt-4">
              <span class="text-primary mr-4"><i class="mdi mdi-map-marker-outline mr-1"></i>Indonesia</span>
              <span class="text-primary"><i class="mdi mdi-email-outline mr-1"></i>Hire Me</span>
            </div>
            <small class="text-muted">Let me know if you want to get in touch.</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-12 col-md-3 col-sm-6 mb-4 mb-md-0 border-right-md d-flex justify-content-between justify-content-md-center">
            <div class="wrapper d-flex align-items-center justify-content-center">
              <div class="btn social-btn btn-twitter btn-rounded d-inline-block"><i class="mdi mdi-twitter"></i></div>
              <div class="wrapper d-flex flex-column ml-4">
                <p class="font-weight-bold mb-2">Twitter</p>
                <p class="mb-0 text-muted">656 follower</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-3 col-sm-6 mb-4 mb-md-0 border-right-md d-flex justify-content-between justify-content-md-center">
            <div class="wrapper d-flex align-items-center justify-content-center">
              <div class="btn social-btn btn-facebook btn-rounded d-inline-block"><i class="mdi mdi-facebook"></i></div>
              <div class="wrapper d-flex flex-column ml-4">
                <p class="font-weight-bold mb-2">Facebook</p>
                <p class="mb-0 text-muted">1,235 friends</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-3 col-sm-6 mb-4 mb-md-0 border-right-md d-flex justify-content-between justify-content-md-center">
            <div class="wrapper d-flex align-items-center justify-content-center">
              <div class="btn social-btn btn-google btn-rounded d-inline-block"><i class="mdi mdi-google-plus"></i></div>
              <div class="wrapper d-flex flex-column ml-4">
                <p class="font-weight-bold mb-2">Google+</p>
                <p class="mb-0 text-muted">835 friends</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-3 col-sm-6 d-flex justify-content-between justify-content-md-center">
            <div class="wrapper d-flex align-items-center justify-content-center">
              <div class="btn social-btn btn-warning btn-rounded d-inline-block"><i class="mdi mdi-rss"></i></div>
              <div class="wrapper d-flex flex-column ml-4">
                <p class="font-weight-bold mb-2">Subscribers</p>
                <p class="mb-0 text-muted">335 people</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-7 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Recent Updates</h4>
        <div class="image-grid row">
          <div class="col-md-6 pr-md-2">
            <img class="w-100 img-fluid rounded" src="assets/images/dashboard/Img_1.jpg" alt="images">
          </div>
          <div class="col-md-6 pl-md-2">
            <div class="row">
              <div class="col-md-12 mb-3 mt-3 mt-md-0">
                <img class="w-100 img-fluid rounded" src="assets/images/dashboard/Img_2.jpg" alt="images">
              </div>
              <div class="col-md-12">
                <img class="w-100 img-fluid rounded" src="assets/images/dashboard/Img_3.jpg" alt="images">
              </div>
            </div>
          </div>
        </div>
        <p class="mt-3">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus, nascetur ridiculus mus.</p>
        <div class="d-flex align-items-center">
          <span class="d-none d-sm-inline-block"><strong>jack Menqu</strong> All of Rwanda is at high elevation</span>
          <span class="ml-auto text-muted">7:30 pm<i class="ml-2 mdi mdi-heart-outline"></i></span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-5 grid-margin stretch-card">
    <div class="card text-center">
      <div class="card-body">
        <img src="assets/images/faces/face5.jpg" class="img-lg rounded-circle mb-2" alt="profile image"/>
        <h4>Maria Johnson</h4>
        <p class="text-muted">Developer</p>
        <p class="mt-4 card-text">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
            Aenean commodo ligula eget dolor. Lorem
        </p>
        <button class="btn btn-info btn-sm mt-3 mb-4">Follow</button>
        <div class="border-top pt-3">
          <div class="row">
            <div class="col-4">
              <h6>5896</h6>
              <p>Post</p>
            </div>
            <div class="col-4">
              <h6>1596</h6>
              <p>Followers</p>
            </div>
            <div class="col-4">
              <h6>7896</h6>
              <p>Likes</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Recent Updates</h4>
        <div class="table-responsive">
          <table class="table">
            <tr>
              <th>Asigned Name</th>
              <th>Progress</th>
              <th>Amount</th>
              <th>Deadline</th>
            </tr>
            <tr>
              <td>
                <div class="d-flex align-items-center">
                  <div><img src="assets/images/faces/face2.jpg" alt="profile image"></div>
                  <div class="ml-3">
                    <p class="mb-1">Jessica T. Phillips</p>
                    <small class="text-muted">Sales Assistant</small>
                  </div>
                </div>
              </td>
              <td>
                <div class="progress progress-md">
                  <div class="progress-bar bg-success" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </td>
              <td>$450.12</td>
              <td>Mar 08 2018</td>
            </tr>
            <tr>
              <td>
                <div class="d-flex align-items-center">
                  <div><img src="assets/images/faces/face1.jpg" alt="profile image"></div>
                  <div class="ml-3">
                    <p class="mb-1">Luke J. Sain</p>
                    <small class="text-muted">Software Engineer</small>
                  </div>
                </div>
              </td>
              <td>
                <div class="progress progress-md">
                  <div class="progress-bar bg-danger" role="progressbar" style="width: 65%" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </td>
              <td>$124.66</td>
              <td>Mar 09 2018</td>
            </tr>
            <tr>
              <td>
                <div class="d-flex align-items-center">
                  <div><img src="assets/images/faces/face4.jpg" alt="profile image"></div>
                  <div class="ml-3">
                    <p class="mb-1">Mark C. Diaz</p>
                    <small class="text-muted">Accountant</small>
                  </div>
                </div>
              </td>
              <td>
                <div class="progress progress-md">
                  <div class="progress-bar bg-warning" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </td>
              <td>$763.00</td>
              <td>Mar 10 2018</td>
            </tr>
            <tr>
              <td>
                <div class="d-flex align-items-center">
                  <div><img src="assets/images/faces/face6.jpg" alt="profile image"></div>
                  <div class="ml-3">
                    <p class="mb-1">Margeret V. Ligon</p>
                    <small class="text-muted">Software Engineer</small>
                  </div>
                </div>
              </td>
              <td>
                <div class="progress progress-md">
                  <div class="progress-bar bg-primary" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </td>
              <td>$120.76</td>
              <td>Mar 11 2018</td>
            </tr>
            <tr>
              <td>
                <div class="d-flex align-items-center">
                  <div><img src="assets/images/faces/face8.jpg" alt="profile image"></div>
                  <div class="ml-3">
                    <p class="mb-1">Messy max</p>
                    <small class="text-muted">Personnel Lead</small>
                  </div>
                </div>
              </td>
              <td>
                <div class="progress progress-md">
                  <div class="progress-bar bg-info" role="progressbar" style="width: 42%" aria-valuenow="42" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </td>
              <td>$450.20</td>
              <td>Mar 12 2018</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Updates</h4>
        <ul class="bullet-line-list">
          <li>
            <h6>User confirmation</h6>
            <p class="mb-0">Lorem Ipsum is simply dummy text of the printing </p>
            <p class="text-muted">
              <i class="mdi mdi-clock"></i>
              7 months ago.
            </p>
          </li>
          <li>
            <h6>Continuous evaluation</h6>
            <p class="mb-0">Lorem Ipsum is simply dummy text of the printing </p>
            <p class="text-muted">
              <i class="mdi mdi-clock"></i>
              7 months ago.
            </p>
          </li>
          <li>
            <h6>Promotion</h6>
            <p class="mb-0">Lorem Ipsum is simply dummy text of the printing </p>
            <p class="text-muted">
              <i class="mdi mdi-clock"></i>
              7 months ago.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
